@model IEnumerable<DomenicaEscobar_ExamenP1.Models.DomenicaEscobar_Tabla>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DENombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEPrecio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEConTocino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEFecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DENombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPrecio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEConTocino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEFecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
